.Logo-cont {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.Logo {
  width: 40px;
}

.Logo-cont h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.side-nav-container {
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  max-height: 100vh;
  height: 100vh;
  background: #fff;
  width: 230px;
  padding-left: 10px;
}

.side-nav-container h2 {
  all: unset;
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}

.side-nav-links {
  display: flex;
  flex-direction: column;
}

.public-links,
.private-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}

.public-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.i {
  margin: 5px;
  color: #6d31edff;
}

.public-link button {
  all: unset;
  border: 0;
  padding: 6px 15px;
  margin-top: 10px;
  width: 65%;
  border-radius: 5px;
}

.public-space,
.private-space {
  padding-top: 30px;
}

.public-link button:hover {
  /* background-color: #6d31edff; */
  /* color: #fff; */
  background: #f8f9faff;
}

/* .public-link button:hover .i {
  color: #fff;
} */

.user-profile {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.user-icon {
  background-color: cyan;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
