.hero {
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.heading h1 {
  font-size: 64px;
}

.heading p {
  font-weight: 200;
  text-align: center;
  padding: 10px;
}

.signup-btn {
  outline: none;
  border: none;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #6d31edff;
  transition: background 0.5s;
  color: #fff;
}

.signup-btn .homepage-link {
  text-decoration: none;
  color: #fff;
}

.signup-btn:hover {
  transform: scale(1.1);
}

.video-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-video {
  border-radius: 5px;
  box-shadow: 4px 2px 8px #00000068, -4px -2px 8px #00000068;
}

h2 {
  font-size: 48px;
  padding-bottom: 40px;
  color: #6d31edff;
  user-select: none;
}

#about {
  padding-left: 100px;
}

.about-img {
  object-fit: contain;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
}

.about-img {
  float: right;
}

.about-flex {
  width: 100%;
}

h3 {
  font-size: 38px;
  text-align: center;
  padding: 20px;
}

.features {
  display: flex;
  overflow-x: scroll;
  width: 100%; /* Set the width to 100% or a specific value */
  padding: 20px;
}

.features::-webkit-scrollbar {
  width: 12px;
}

.features::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.features::-webkit-scrollbar-thumb {
  background-color: #6d31edff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.feature {
  width: 300px;
  height: 420px;
  background: #ffffffff;
  border-radius: 8px;
  border-width: 1px;
  border-color: #f3f4f6ff;
  border-style: solid;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  margin-left: 20px;
  padding: 20px;
  flex-shrink: 0; /* Ensure each feature maintains its width */
}

.feature-description {
  font-size: 12px;
  white-space: normal; /* Allow text to wrap within the feature boxes */
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.feature-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.icon-main {
  padding: 20px;
}

#i1 {
  background-color: #fff3f0ff;
}

#i2 {
  background-color: #f1f8fdff;
}

.fa-graduation-cap {
  color: #379ae6ff;
}

#i3 {
  background-color: #fff0f7ff;
}

#i4 {
  background-color: rgba(149, 210, 130, 0.26);
}

.fa-message {
  color: rgb(57, 243, 0);
}

#i5 {
  background-color: rgba(199, 130, 182, 0.26);
}

.fa-chart-simple {
  color: rgb(32, 6, 112);
}

.fa-notes-medical {
  color: rgb(35, 173, 72);
}

.feature-category {
  font-weight: 100;
  padding: 5px;
}

#contact {
  padding-left: 100px;
  padding-top: 80px;
}

.contact-container {
  width: 60%;
  background: #fff0f7ff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #4a4c4d6d, 0px 0px 2px #3b3e4269;
}

.contact-container p {
  font-size: 20px;
  color: #6d31edff;
}

.contact-container button {
  padding: 15px 20px;
  border: 0;
  color: #fff;
  background: #6d31edff;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px;
}

.contact-container button:hover {
  color: #000000;
  background: #bbbb;
}

@media only screen and (max-width: 670px) {
  .home-container {
    padding-top: 100px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  #about,
  #contact {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .heading h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .heading h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about,
  #contact {
    padding-left: 10px;
    padding-right: 0;
    width: 60vh;
  }

  .about-flex {
    width: 100%;
  }

  .home-container {
    min-width: 100% !important;
  }

  .video-container {
    width: 100%;
    margin: 0;
  }

  .hero-video {
    width: fit-content;
  }
}

@media only screen and (max-width: 430px) {
  .heading {
    width: 60vh;
  }

  #root {
    width: 60vh;
  }

  .about-flex {
    width: 90%;
  }
}
